server/node_modules
server/.env
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client-side/node_modules
client-side/.pnp
.pnp.js

# testing
client-side/coverage

# next.js
client-side/.next/
client-side/out/

# production
client-side/build

# misc
client-side/.DS_Store
client-side/*.pem

# debug
client-side/npm-debug.log*
client-side/yarn-debug.log*
client-side/yarn-error.log*

# local env files
client-side/.env*.local

# vercel
client-side/.vercel

# typescript
client-side/*.tsbuildinfo
client-side/next-env.d.ts
