.banner-header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../../public/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  position: relative;
  padding-top: 150px;
}

.banner-container {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.banner-text h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner-text p {
  margin-bottom: 1rem;
  font-weight: 400;
}

.banner-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5rem;
}

.banner-buttons > button {
  margin-right: 1rem;
}

.filter-container {
  margin-top: 2rem;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .banner-text h2 {
    line-height: 1.11;
  }

  .banner-buttons {
    flex-direction: column;
  }

  .banner-buttons > button {
    margin: 1rem auto 0;
    max-width: 200px;
    width: 100%;
  }
}
