* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'work-sans';
  list-style-type: none;
}

html {
  --pink-color: rgb(246, 65, 65);
  --light-blue-color: rgb(2, 33, 124);
  --blue-color: rgb(32, 44, 79);
  --gray-color: rgba(244, 238, 238, 0.842);
  --dark-blue-color: rgba(0, 10, 39, 0.885);
}

@font-face {
  font-family: 'work-sans';
  src: url(../public/font/WorkSans-VariableFont_wght.ttf);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: var(--gray-color);
  width: 100%;
  padding: 2rem 1.2rem;
  min-height: 500px;
}

.container.light-container {
  background-color: #f8f8f8;
}

.container > div {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.scroll-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  gap: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1400px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
