.content-box-container {
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* border: 1px solid rgb(213, 213, 213); */
  min-height: 200px;
}

.content-box-container header h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}
