.dashboard-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.left-container {
  width: 300px;
  max-width: 300px;
  background-color: var(--blue-color);
  min-height: 100vh;
  max-height: 100vh;
  color: white;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.right-container {
  flex: 1;
  min-height: 100%;
  margin-left: 300px;
}

@media screen and (max-width: 800px) {
  .left-container {
    max-width: 100%;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    transition: all 500ms;
  }

  .left-container.isActive {
    transform: translateX(0);
  }

  .right-container {
    margin-left: 0;
  }
}
