.properties-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 1rem;
  /* padding-top: 2rem; */
  justify-content: center;
}

.properties-container .buttons-container {
  gap: 0rem;
}

.properties-container .single-property {
  max-width: 350px !important;
}

@media screen and (max-width: 1300px) {
  .properties-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .properties-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .properties-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .properties-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
