.listings-container {
  overflow-x: scroll;
  max-width: 100%;
}

.listings-container table {
  min-width: 760px;
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  text-align: left;
  background-color: var(--dark-blue-color);
  color: white;
}

.table th,
.table td {
  padding: 0.8rem;
}
