.listing-image-container {
  width: 100%;
  display: flex;
  gap: 0.8rem;
}

.listing-image {
  max-width: fit-content;
  position: relative;
}

.listing-image img {
  border-radius: 0.8rem;
}

.listing-image p {
  position: absolute;
  max-width: fit-content;
  top: 10px;
  left: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  background-color: var(--pink-color);
  padding: 7px 10px;
  border-radius: 6px;
}

.listing-details {
  /* min-width: fit-content; */
}

.listing-details h2 {
  font-size: 1.2rem;
  color: #222;
  font-weight: 500;
  margin-bottom: 17px;
}

.listing-details p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.listing-details p span {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: bold;
}

.listing-details .price {
  color: var(--pink-color);
}

td {
  text-align: left;
  min-width: fit-content;
}

.status {
  color: white;
  background-color: var(--pink-color);
  padding: 7px 7px;
  border-radius: 6px;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.actions {
  font-size: 1.1rem;
  color: var(--pink-color);
}

.actions span {
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
}
